body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.color-red {
  color: red;
}

.display-inline {
  display: inline-block;
}

.long-url-restraint {
  max-width: 200px;
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap
}

.pointer-fix:hover {
  color: blue;
  cursor: pointer;
}

.shorten-button {
  margin-left: 10px;
}
